<?php
/*
footer
*/
?>

<script src="<?php echo $this->getViewFileUrl('SocialWeb_Whatsapp::js/jquery.js'); ?>" >
</script>
<script type="text/javascript">
var jQuery_1_12_4 = jQuery.noConflict(true);
</script>	
<script src="<?php echo $this->getViewFileUrl('SocialWeb_Whatsapp::js/whatsappme.js'); ?>" >
</script>